# React ve Node şeyleri
node_modules/
build/
coverage/
.DS_Store
.env
.env.*
*.log

# Firebase ve API key'leri
firebase_key.json
airline-frontend/.env
airline-frontend/src/firebase/firebase_key.json
app/firestore/firebase_key.json

# Python cache dosyaları
__pycache__/
*.pyc
